---
layout: default
title: Team
suppress_header: true
extra_css:
  - team.css
image_title: /images/team/team.jpg
---
-# THE MEMBER CONTENT FOR THIS PAGE IS IN THE data/team.yml FILE
.hidden-xs.teleport-thing
  %iframe{frameborder: "0", height: "500", scrolling: "no", src: "https://sundial.teleport.org/public/map/Y3IahPR5vYjBpMyU2kZj?mousescroll=false", width: "100%"}
.wrapper
  .team-container
    .team-head
      %h1
        MEET OUR
        %b TEAM
      %p
        More than 1750 people have #{link_to('contributed to GitLab', 'http://contributors.gitlab.com/')}.
        The GitLab Inc. team consists of the following #{data.team.size} team members and their
        #{link_to("#{data.pets.size} pets", '/team-pets')}.
        We're a #{link_to('remote only', 'http://www.remoteonly.org/')} organization
        and we currently have team members in #{data.team.group_by(&:country).size} countries.
        This page lists who people report to, and on a separate page we
        detail the #{link_to('team structure', '/team/structure')}.
        You can get a sense of the team culture by visiting our
        #{link_to('culture page', '/culture')}.

    .row.team-row
      - Gitlab::Homepage::Team.new.members.each do |member|
        = partial "includes/team/member", locals: { member: member,
                                                    is_pet: false,
                                                    anchor: member.anchor }

      .col-xl-2.col-lg-2.col-md-3.col-sm-4.col-xs-12.member
        .member
          .card
            .front
              = image_tag "/images/team/logo-extra-whitespace.png", alt: "GitLab.com", width: 120, height: 120
              %h3 You?
              %br/
              %p{style: "text-align: center; padding: 0 25px;"}
                Want to see your name and picture here? Check out our latest
                %a{href: "https://about.gitlab.com/jobs/"} job openings!
              .social
                %a{href: "https://twitter.com/gitlab"}
                  %i.fa.fa-twitter
                %a{href: "https://gitlab.com"}
                  = partial "includes/logos/logo_sq.svg"
      = link_to '', '#close-modal', class: 'modal-overlay'
