:markdown
  ## Responsibilities

  - Contribute to the design and planning of content marketing campaigns and strategies.
  - Develop a consistent GitLab voice guide for other team members to refer to.
  - Sub-edit the contributions of other marketing team members to create a consistent GitLab brand and voice.
  - Maintain a high standard of well written and factually accurate content.
  - Develop a deep understanding of GitLab's current and upcoming products and features.
  - Assist the team to create content assets for content marketing campaigns. Including, but not limited to:
    + Blog posts
    + Webinars
    + Interviews
    + Newsletters
    + Social updates
    + Surveys and Reports
    + Whitepapers
    + eBooks
